@import "tailwindcss";

#root{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@theme {
  --color-red: #ea2e0e; /* Màu đỏ */
  --color-secondary: #00ff00; /* Màu xanh lá cây */
  --color-accent: #0000ff; /* Màu xanh dương */
}